<table class="home-menu">
	<tr>
		<td>New Bill</td>
		<td>All Bills</td>
		<td>Reports</td>
	</tr>
	<tr>
		<td>
			<%= link_to new_bill_path do %>
		    	<i class="fa fa-edit fa-5x"></i>
		   	<% end %>
	   	</td>
	   	<td>
			<%= link_to bills_path do %>
		    	<i class="fa fa-files-o fa-5x"></i>
		   	<% end %>
	   	</td>
	   	<td>
			<%= link_to reports_path do %>
		    	<i class="fa fa-bar-chart fa-5x"></i>
		   	<% end %>
	   	</td>
   </tr>
</table>
