@media print {
	body {
		width: 100%;
	}

	.add-bill-item {
		width: 100%;
		clear: both;
		float: center;
	}

	div.branding-header, div.add-bill-item, .links, .action-column {
	    display: none;
	}

	div.container {
		/*width: 100%;*/
		border: 0;
		border-radius: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}